{# src/AppBundle/Resources/views/CRUD/list__action_clone.html.twig #}

<a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('clone', object) }}"><i class="fa fa-clone" aria-hidden="true"></i>clone</a>